@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {

  /* Font */
  --ff: 'Red Hat Display', sans-serif;
  --fs: 16px;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;

  /* Colors */
  /* Primary*/
  --color-pale-blue: hsl(225, 100%, 94%);
  --color-bright-blue: hsl(245, 75%, 52%);

  /* Neutral */
  --color-very-pale: hsl(225, 100%, 98%);
  --color-desaturated-blue: hsl(224, 23%, 55%);
  --color-dark-blue: hsl(223, 47%, 23%);

  /* Layout */
  --mobile: 375px;
  --desktop: 1440px;

}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--fs);
}

body {
  background-color: var(--color-pale-blue);
  background-image: url(./images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  font-family: var(--ff);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.card {
  background-color: white;
  max-width: 20.5rem;
  border-radius: 1.0rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4.5rem;
  -webkit-box-shadow: 0px 1px 14px 7px rgba(56, 41, 224, 0.24);
  box-shadow: 0px 1px 14px 7px rgba(56, 41, 224, 0.24);
}

.card_title-hero {
  position: relative;
  width: 100%;
  padding: 0 0 9.9rem 0;
  margin-bottom: 2rem;
}

.card_title-hero img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

h1 {
  font-size: 1.4rem;
  font-weight: var(--fw-black);
  text-align: center;
  margin-bottom: 1.0rem;
}

.card__info {
  font-size: 0.9rem;
  font-weight: var(--fw-black);
  color: var(--color-desaturated-blue);
  text-align: center;
  padding: 0 2rem 0 2rem;
  line-height: 1.55rem;
  margin-bottom: 1.6rem;
}

.song {
  background-color: var(--color-very-pale);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.7rem;
  padding: 0.9rem 1rem 0.9rem 1rem;
  margin: 0 1.5rem 1.7rem 1.5rem;
}

.song__info {
  margin-left: -1rem;
}

.song__info-name {
  font-size: 0.9rem;
  font-weight: var(--fw-black);
}

.song__info-cost {
  font-size: 0.9rem;
  font-weight: var(--fw-medium);
  color: var(--color-desaturated-blue);
}

.song__change {
  font-size: 0.8rem;
  font-weight: var(--fw-bold);
}

.song__change:hover {
  color: #766CF1;
  text-decoration: none;
}

.card-btn {
  display: block;
  line-height: 3.1rem;
  text-align: center;
  border-radius: 0.7rem;
  cursor: pointer;
  margin: 0 1.5rem 0 1.5rem;
}

.payment {
  background-color: var(--color-bright-blue);
  color: white;
  font-weight: var(--fw-black);
  margin-bottom: 0.6rem;
  -webkit-box-shadow: 0px 7px 7px 0px rgba(118, 108, 241, 0.24);
  box-shadow: 0px 7px 7px 0px rgba(118, 108, 241, 0.24);
}

.payment:hover {
  background-color: #766CF1;
}

.cancel {
  display: block;
  background-color: inherit;
  color: var(--color-desaturated-blue);
  font-size: 0.8rem;
  font-weight: var(--fw-black);
  text-align: center;
  text-decoration: none;
  margin-bottom: 0.9rem;
}

.cancel:hover {
  color: var(--color-dark-blue);
}

footer {
  margin: 0.5rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* https://bootstrap-4.ru/docs/5.2/layout/breakpoints/ */

/* Small */
@media (min-width: 576px) {}

/* Medium */
@media (min-width: 768px) {}

/*Large*/
@media (min-width: 992px) {}

/*Extra large*/
@media (min-width: 1200px) {
  body {
    background-image: url(./images/pattern-background-desktop.svg);
    background-position: 50% 0%;
  }

  .card {
    max-width: 28rem;
    margin-top: 6.3rem;
  }

  .card_title-hero {
    position: relative;
    width: 100%;
    padding: 0 0 13.8rem 0;
    margin-bottom: 2.75rem;
  }

  h1 {
    font-size: 1.75rem;
    font-weight: var(--fw-black);
    text-align: center;
    margin-bottom: 1.0rem;
  }

  .card__info {
    font-size: 1.0rem;
    padding: 0 2rem 0 2rem;
    line-height: 1.7rem;
    margin-bottom: 1.6rem;
  }

  .song {
    padding: 1rem 1rem 0.9rem 1rem;
    margin: 0 3.5rem 2.6rem 3.5rem;
  }

  .song__info {
    margin-left: -4.5rem;
  }

  .song__info-name {
    font-size: 1rem;
    margin-bottom: 0.4rem;
  }

  .song__info-cost {
    font-size: 1.1rem;
  }

  .song__change {
    font-size: 0.8rem;
    font-weight: var(--fw-bold);
  }

  .card-btn {
    margin: 0 3.5rem 0 3.5rem;
  }

  .payment {
    margin-bottom: 2rem;
  }

  .payment:hover {
    background-color: #766CF1;
  }

  .cancel {
    font-size: 0.93rem;
    margin-bottom: 3rem;
  }

}

/*Extra extra large*/
@media (min-width: 1400px) {}